
body {
   background-color: #202020;
   font-family: verdana, monospace;
   color: white;
   text-align: justify;
}
td {
	border: 0px;
}

h2 {
	text-align: center;
	background-color: #3e4eb4;
	vertical-align: super;
	font-weight: normal;
	margin-bottom: 5px;
	margin-top: 5px;
}
h1 {
  font-weight: normal;
  text-align: center;
  background-color: #3e4eb4;
  margin-bottom: 0px;
}

td a {
	color: #e7dd29;
	text-decoration: none;
}

td a:hover {
	color: #e7dd29;
	text-decoration: underline;

}

td a.pic {
	color: #9f3fdf;
	text-decoration: none;
}

td a.pic:hover {
	color: #9f3fdf;
	text-decoration: underline;

}

td a.anim {
	color: #00aa00;
	text-decoration: none;
}

td a.anim:hover {
	color: #00aa00;
	text-decoration: underline;

}

td a.video {
	color: brown;
	text-decoration: none;
}

td a.video:hover {
	color: brown;
	text-decoration: underline;

}

#hull {
	background-color: #000;
	border: 2px solid black;
	margin: auto;
	padding: 15px;
}

#te {
	width: 500px;
	height: 200px;
}

#logo {
	border: 0px solid black;
	margin: auto;
  margin-bottom: auto;
	width: 476px;
	height: 191px;
	display: inline-block;
	background: url(logo.png) no-repeat 0px 0px;
}

.posts {
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	background-color: #3e4eb4;
	width: 100%;
	_width: 95%;
}

.name {
	text-align: left;
	letter-spacing: 1pt;
}
/*
.ip {
	display: none;
	text-align: right;
}
*/
.date {
	text-align: right;
	width: 250px;
}

.st {
	border: 1px solid white;
	font-size: 80%;
	font-weight: bold;
	color: black;
}

.nd {
	background-color: #000;
	font-size: 80%;
	padding: 5px;
}

.submit {
	width: 502px;
}

.inputtext {
	width: 20em;
}

.dny {
	width: 2em;
}

.hled {
	width: 5em;
}

.half {
	width: 500px;
}

.error {
	background-color: #ff0000;
}

.blu {
	background-color: #3e4eb4;

  margin: 10px;
  margin-left: 0px;
  margin-top: 20px;
  border-left: 2px solid #7e8eb4;
  border-top: 2px solid #7e8eb4;
  border-bottom: 2px solid #1f1f94;
  border-right: 2px solid #1f1f94;

  padding: 3px;


}

.gruen {
	background-color: #00aa00;
}
.gfootl {
	background-color: #00aa00;
	float: left;
}
.gfootr {
	background-color: #00aa00;
	float: right;
}

span a {
	color: #fff;
	text-decoration: none;

}
span a:hover {
	color: #fff;
	text-decoration: underline;

}

.menu {
	text-align: right;
	padding: 2px;
	border: 0px solid white;
}

.cent {
	border: 0px solid white;
	margin: auto;
}

.titimg {

	max-height: 450px;
	margin-top: 4px;
	padding-top: 0px;
	_width: 400px;
}
.piclin {
	color: #000;
}
.piclin :hover {
	color: #000;
}
.logotext{
  margin-left: 25px;
  font-size: 54%;
}
@media screen and (max-width: 1000px){
	/*
	input[type="submit"]{
		width: 25%;
	}
		*/
	.gfootr{
		display: none;
	}
	.submit{
		width: 75px;
	}
	table{
		width: 80%;
	}
	.titimg{
		display: none;
	}
	#te{
		width: 75%;
	}
	.half{
		width: 95%;
	}
	#logo {
		width: 180px;
		border: 0px solid black;
		margin: auto;
  	margin-bottom: auto;
		height: 191px;
		display: block;
		background: url(logo-mobile.png) no-repeat 0px 0px;
	}
}
/*
  max-width: 480px;
*/
li {
	white-space: nowrap;
}
